<%= form_with(model: project_status) do |form| %>
  <% if project_status.errors.any? %>
    <div style="color: red">
      
      <h2><%= pluralize(project_status.errors.count, "error") %> prohibited this project_status from being saved:</h2>

      <ul>
        <% project_status.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :tansition_date, style: "display: block" %>
    <%= form.datetime_field :tansition_date %>
  </div>

  <div>
    <%= form.label :status_id, style: "display: block" %>
    <%= form.text_field :status_id %>
  </div>

  <div>
    <%= form.label :project_id, style: "display: block" %>
    <%= form.text_field :project_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
