<p style="color: green"><%= notice %></p>

<h1>Project statuses</h1>


<table class="table table-striped table-hover table table-bordered" style="background-color: #e3f2fd;">
  <thead class="table" style="background-color: #3AAFA9;">
    <tr>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>

    <tbody>
  <% @project_statuses.each do |project_status| %>
    <tr>
        <td><%= project_status.project.code %></td>
        <td><%= link_to "Show this project status", project_status, class: "btn btn-secondary" %>
        <td><%= button_to "Destroy this project status", @project_status, method: :delete, data: {cofirm: 'Are you sure?'}, class: "btn btn-secondary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New project status", new_project_status_path, class: "btn btn-dark" %>


