<p style="color: green"><%= notice %></p>

<h1>Project statuses 
<%= link_to "", new_project_status_path, class: "btn btn-outline-dark bi bi-file-plus-fill" %></h1>


<table class="table table-striped table-hover table table-bordered" style="background-color: #e3f2fd;">
  <thead class="table" style="background-color: #3AAFA9;">
    <tr>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>

    <tbody>
  <% @project_statuses.each do |project_status| %>
    <tr>
        <td><%= project_status.project.code %></td>
        <td><%= link_to "", project_status, class: "btn btn-outline-dark bi bi-search" %>
        <td><%= button_to "", @project_status, method: :delete, data: {cofirm: 'Are you sure?'}, class: "btn btn-outline-dark bi bi-trash3-fill" %></td>
      </tr>
    <% end %>
  </tbody>
</table>



