<p style="color: green"><%= notice %></p>

<%= render @project_status %>

<div class="btn-group" role="group" aria-label="Basic example">
  <p><%= link_to "Edit this project status", edit_project_status_path(@project_status), class: "btn btn-secondary" %>&ensp; |
  <%= link_to "Back to project statuses", project_statuses_path, class: "btn btn-dark"  %>&ensp;
  <%= button_to "Destroy this project status", @project_status, method: :delete, class: "btn btn-secondary"  %><p>
</div>


