<div id="<%= dom_id client %>">
<br/>
<ul class="list-group">
  <li class="list-group-item active" aria-current="true" style="background-color: #3AAFA9;"><p>
    <strong>Name:</strong>
    <%= client.name %>
  </p></li>
  <li class="list-group-item" style="background-color: #DEF2F1;">  <p>
    <strong>Rif:</strong>
    <%= client.rif %>
  </p></li>
    <li class="list-group-item" style="background-color: #DEF2F1;">  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p></li>
    <li class="list-group-item" style="background-color: #DEF2F1;">  <p>
    <strong>City:</strong>
    <%= client.city_id %>
  </p></li>
</ul>
</div>
