<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :rif, style: "display: block" %>
    <%= form.text_field :rif %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :city_id, style: "display: block", class:"form-label"%>
    <%# create the array of citie's names and ID's for the select button %>
    <%
      # Define the outputs array
      options = [] 
      # For every city, ordered alphabetically
      City.all.sort{|x,y| x[:name] <=> y[:name]}.each do |city|
        # Create an array with the name at first position and the id second position
        # The name will be promted to the user
        # And the ID will go to the database
        option = [city[:name],city[:id]] 
        options.push(option) # push onto the output's array   
      end
    %>
    <%# Pass the output array as parameter on the select button %>
    <%= form.select :city_id , options , class:"btn btn-secondary dropdown-toggle"%>
    <br/><br/>
    <%# if the city of the client didin't allow on the bata base, this link will go the create a new one %>
    <strong>Didn't find your city? </strong>
    <%=link_to "Create a new one", new_city_path%><br/>


  </div>
  <br/>
  <div>
    <%= form.submit %>
  </div>
<% end %>
