<p style="color: green"><%= notice %></p>

<% client = Client.find(params[:id]) %>

<h1> <%= client.name %> projects</h1>
<br>


<% project = Client.client_projects(client.id) %>

<table class="table table-striped table-hover table table-bordered" style="background-color: #e3f2fd;">
  <thead class="table" style="background-color: #3AAFA9;">
    <tr>
      <th>Code</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

<tbody>
  <% project.each do |project| %>
    <tr>
        <td><%= project.code %></td>
        <td><%= project.date %></td>
        <td><%= project.amount %></td>
        <td><%= project.description %></td>
        <td><%= link_to "", project, class: "btn btn-outline-dark bi bi-search" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="btn-group" role="group" aria-label="Basic example">
  <p>
  <%= link_to "", :back, class: "btn btn-outline-dark bi bi-box-arrow-left"  %>&ensp;
  <p>
</div>





