<div>
    <h1 class="display-5"> Find projects by timelapse </h1>
    <br/>
    <%= form_tag("/search/create", method: 'get', remote: true, id: 'search-form') do%>
        <div>
            <%= label_tag(:initial_date, "Initial date: ")%>
            <%=  date_field_tag(:initial_date)%>
            <%= label_tag(:final_date, "Final date: ")%>
            <%=  date_field_tag(:final_date)%>
            <%= submit_tag("Search")%>
        </div>
    <%end%>

    <div id="results">

    </div>
</div>