<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div>
    <%= form.label :client_id, style: "display: block", class:"form-label"%>

    <%
      options = []
      
      Client.all.sort{|x,y| x[:name] <=> y[:name]}.each do |client|
        option = [client[:name],client[:id]]
        options.push(option)    
      end
    %>

    <%= form.select :client_id , options , class:"btn btn-secondary dropdown-toggle"%>
    
  </div>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.number_field :code %> 
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%# <input type="date" value= selected> %>
    <%= form.date_field :date, :value=> Date.today%>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <%# For a new project asig %>
  <% if project.status.nil? %>      
    <%= form.label :status_id, style: "display: block" %>  
    <%# IF IT'S A NEW PROJECT ONLY SHOW THE FIRST STATUS %>
      <%= form.select :status_id, [["Generated proposal", Status.find_by(name:"Generated proposal").id]], class:"btn btn-secondary dropdown toggle"%>
  <%else%>
    <%# list of options %>
     <%list = []%>

    <% if project.status.code == 1 %>
            <%# IF THE PROJECT IS IN THE FIRST STATUS SELEC IF IT'S APPROVED OR REJECTED %>
               <% list.push(["Generated proposal", Status.find_by(name:"Generated proposal").id])
                  list.push(["Approved proposal", Status.find_by(name:"Approved proposal").id])
                  list.push(["Rejected project", Status.find_by(name:"Rejected project").id])
               %>

    <% elsif project.status.code == 8 or project.status.code == 9 or project.status.code == 10 %>
      <%# IF THE PROJECT STATUS IS IN THE OPTIONS THAT CAN ONLY BE ENDED SHOW THAT OPTION %>
      <%list.push(["Finished project", Status.find_by(code: 10).id])%>
    <% else %>
      <%# IF THE PROJECT STATUS IS IN ANY OTHER OPTION SHOW THE NEXT STATUS%>
      <% list.push([Status.find_by(code: (project.status.code)).name, Status.find_by(code: (project.status.code)).id])
         list.push([Status.find_by(code: (project.status.code + 1)).name, Status.find_by(code: (project.status.code + 1)).id])
      %>

    <%end%>
        <%= form.select :status_id, list, class:"btn btn-secondary dropdown toggle", id:"change_status"%>
  <%end%>
  <br/>
 
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
