<p style="color: green"><%= notice %></p>

<%= render @project %>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to "", projects_path, class: "btn btn-outline-dark bi bi-box-arrow-left"  %>&ensp;
  <%= link_to "", edit_project_path(@project), class: "btn btn-outline-dark bi bi-pencil-square" %>&ensp;
  <%= button_to "", @project, method: :delete, class: "btn btn-outline-dark bi bi-trash3-fill"  %>
</div>

