<div id="<%= dom_id project %>">
  <p>
    <strong>Code:</strong>
    <%= project.code %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= project.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= project.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project.status_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= project.client_id %>
  </p>

</div>
