<p style="color: green"><%= notice %></p>

<%= render @city %>

<div class="btn-group" role="group" aria-label="Basic example">
  <p><%= link_to "Edit this city", edit_city_path(@city), class: "btn btn-secondary" %>&ensp;
  <%= link_to "Back to cities", cities_path, class: "btn btn-dark"  %>&ensp;
  <%= button_to "Destroy this city", @city, method: :delete, class: "btn btn-secondary"  %><p>
</div>

