<p style="color: green"><%= notice %></p>

<%= render @city %>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to "", :back, class: "btn btn-outline-dark bi bi-box-arrow-left"  %>&ensp;
  <%= link_to "", edit_city_path(@city), class: "btn btn-outline-dark bi bi-pencil-square" %>&ensp;
  <%= button_to "", @city, method: :delete, class: "btn btn-outline-dark bi bi-trash3-fill"  %>
</div>

